{% extends 'base.html.twig' %}

{% block title %}Awesome Store - Our products{% endblock %}

{% block body %}
<h2>An awesome product</h2>

<p>SKU</p>
<p>Name</p>
<p>Price</p>
<p>Brand</p>
<p>Image</p>
{% endblock %}


