{% extends 'base.html.twig' %}

{% block title %}Awesome Store - Our products{% endblock %}

{% block body %}
    <div class="paginated">
        {{ include('navbar.html.twig', { 'paginator': paginator }) }}

        <div class="list">
            {% for product in paginator.content %}
                {{ include('product/preview.html.twig', { 'product': product }) }}
            {% endfor %}
        </div>

        {{ include('navbar.html.twig', { 'paginator': paginator }) }}
    </div>
{% endblock %}
