<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Awesome Store{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
    </head>
    <body>
        <div class="container-box">
            <header>
                <h1>Awesome Store</h1>
            </header>

            {{ include('search.html.twig', { 'query': query|default('') }) }}

            <div class="content">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
