<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Awesome Store{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>Awesome Store</h1>

        <div id="content">
            <form action="{{ path('product') }}">
                Search products: <input type="text" name="q" value="{{ query|default('') }}"/>
            </form>

            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
