<div class="search">
    <form action="{{ path('product') }}">
        <input type="text" class="term" name="q" placeholder="What are you looking for?" value="{{ query|default('') }}"/>
        <button type="submit" class="button">
            Search
        </button>
    </form>
</div>
